<html>  
    <head>

        <style>
            form{
                margin:10vh;
                display:flex;
               
                justify-content: center;
                color: blue;
            }
            </style>
            </head>
<body>  
<form method="POST" action="/formpost">  
    <label>customer_Id:<br><input type="text" name="customer_Id" required></label>
    <br>
        <label>Inventery_id:<br><input type="text" name="Inventery_id" required></label>
        <br>
        <label>Item_name:<br><input type="text" name="Item_name" required></label>
        <br>
        <label>quantity:<br><input type="text" name="quantity" required></label>
        <br>
      
        <input type="submit" value="Submit">
</form> 

</body>  
</html>